# STEPFPGA MXO2-Core, LCMXO2-4000HC-4MG132C.
# Package pins are taken from the STEP-MXO2-LPC board schematic.
# Connector mapping: J1-25/24/23/22 = SPICS/SPISCK/SPISO/SPISI.

LOCATE COMP "SPICS"  SITE "P3";
LOCATE COMP "SPISCK" SITE "M4";
LOCATE COMP "SPISO"  SITE "N4";
LOCATE COMP "SPISI"  SITE "P13";

IOBUF PORT "SPICS"  IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SPISCK" IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "SPISO"  IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "SPISI"  IO_TYPE=LVCMOS33 PULLMODE=NONE;
